.App {
  text-align: center;
}

.App-banner-container {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.App-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./banner_image.svg') repeat-x;
  animation: moveBackground 20s linear infinite;
}

/* .App-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
} */

.App-animated-text {
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: center;
}

.App-text-item {
  font-size: 3rem;
  font-weight: bold;
  color: #28d79f;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0;
  }
}
