@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
.App {
  width: 100%;
  height: 100%;
}

.App-banner-container {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.App-text-item {
  font-size: 3rem;
  font-weight: bold;
  color: #28d79f;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.slick-prev:before,
.slick-next:before{
    color: black;
    font-size: 40px;
}

.slick-next:before{
    margin-left: -35px;
}

.slick-prev{
    z-index: 99999;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0;
  }
}

.loginDiv{
  background-color: #E1E1E1;
  border-radius: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
  pointer-events: all; /* Ensure it catches clicks */
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  z-index: 1001;
}
